<div class="mx-48 laptop:mx-32 largeTablet:mx-0 h-56 flex justify-between items-center transition-all hover:scale-105">

    <div class="flex flex-col gap-2">
        <p class="text-2xl">{{foodName}}</p>
        <p class="text-sm">₹{{price}}</p>
    </div>

    <div class="items-center relative">
        
        <img src="{{img}}" class="max-w-60 max-h-60 rounded-2xl object-cover">
            

        <div class="flex gap-0 absolute bottom-4">
            <div class="flex justify-center items-center">

                <button (click)="onPlusClicked()" class="bg-white font-bold p-3 border-gray-500 border-y-[1px] rounded-l-lg border-l-[1px]">+</button>
                <p class="bg-white p-3 border-gray-500 border-y-[1px]">{{count}}</p>
                <button (click)="onNegClicked()" class=" bg-white font-bold p-3 border-gray-500 border-y-[1px] rounded-r-lg border-r-[1px]">-</button>

            </div>
        
            @if (count > 0) {
                <button (click)="onAddClicked()" class=" text-green-400 py-2 px-6 rounded-md bottom-0 bg-white border-gray-400 border-[1px] active:bg-green-400 active:border-green-400">Add</button>
            }@else {
                <button (click)="onAddClicked()" class=" text-green-400 py-2 px-6 rounded-md bottom-0 bg-white border-gray-400 border-[1px] active:bg-red-500 active:border-red-500">Add</button>
            }

        </div>
            
    </div>

</div>