<section class="py-10 gap-3 px-44 largeTablet:px-20 tablet:px-10 mobile:px-0 flex flex-col mobile:items-center">

    <div class="flex gap-3 mobile:flex-col mobile:items-center">
        <p class="text-3xl font-bold">{{restName}}</p>
        @if (favorite) {
            <img (click)="toggleFavorite()" src="../../assets/images/heartRed.png" alt="user" class="h-auto w-10">
        }@else {
            <img (click)="toggleFavorite()" src="../../assets/images/heartBlack.png" alt="user" class="h-auto w-10">
        }
    </div>
        

    <p class="my-10 text-2xl font-bold">Menu</p>
        
    @for (item of foodData; track $index) {
        <div class="py-5 border-b-2 border-swiggyText border-dotted">
            <app-menu-item [foodName]="item.name" [img]="item.img" [price]="item.price"></app-menu-item>
        </div>
    }

    <p class="my-10 text-2xl font-bold">Reviews</p>

    @for (item of restData?.reviews; track $index) {
        <app-user-review [userName]="item.userName" [review]="item.review"></app-user-review>
    }
        
</section>
