
<section class="px-44 my-5 laptop:px-20">

    @if (userName != "") {
        <p class="font-bold text-2xl">{{userName}}, What's on your mind?</p>
    }@else{
        <p class="font-bold text-2xl">What's on your mind?</p>
    }

    

    <div class="flex p-5 gap-5 overflow-scroll tablet:flex-wrap tablet:p-0">
        
        @for (item of foodData; track i; let i = $index) {

            <app-food-item-card [foodImg]="foodData[i].img" [foodName]="foodData[i].name" ></app-food-item-card>
        }

    </div>

</section>

<section class="flex flex-col px-44 my-5 mobile:px-5 laptop:px-20 overflow-scroll ">


    <p class="font-bold text-2xl">Top restaurants in your area</p>
</section>

<section class="pl-40 pr-20 pb-10 flex gap-4 flex-wrap tablet:px-5">
    
    @for (item of restaurantData; track $index) {
        
        <app-restaurant-card  [restName]="item.restaurantName" [restImg]="item.img" [restItems]="item.foodList.join(', ')" ></app-restaurant-card>
    }


</section>

